


body {
    text-align: center;
    background-color: rgb(55, 116, 231);
    font-family: 'Press Start 2P', cursive; 
    color: black;
    background-color: rgb(141, 199, 226);
    margin: 50px;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    font-family:;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}
.nom1{
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.button{
    flex-direction: row;
}
button {
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
    border-radius: 8px;
    margin: 20px;
    cursor: pointer;
    background-color: rgb(224, 199, 54);
    border: 0;
}

button:hover {
    animation: jello-diagonal .9s linear both;
}

.pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.pokemon {
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.pokemon img {
    width: 100px;
    height: 100px;
}
button:hover{
    cursor: pointer;
    animation: jello-diagonal .9s linear both
}

@keyframes jello-diagonal {
    0% {
        transform: skew(0deg 0deg)
    }

    30% {
        transform: skew(25deg 25deg)
    }

    40% {
        transform: skew(-15deg, -15deg)
    }

    50% {
        transform: skew(15deg, 15deg)
    }

    65% {
        transform: skew(-5deg, -5deg)
    }

    75% {
        transform: skew(5deg, 5deg)
    }

    100% {
        transform: skew(0deg 0deg)
    }
}

 
